<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body style="text-align: center;">
    <h1>IoT Middleware</h1>
    <h3>BITS Pilani Dissertation Project</h3>
    <h3>Developed by Tarandeep Singh | 2017HT12156</h3>
</body>
</html>
